<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><br><br><br><br>
<center>
    <div>
        <p class="font-italic mb-0" style="color:blue;"><b>"VoizFonicaPayMart has turned to be the perfect payment solution for us.</b><br>
            <b>Our customers demand convinience and security.</b><br>
            <b>VoizFonicaPayMart delivers on both without compromise."</b></p><br><br>


<b>Total payable Amount is : {{total}}</b><br><br>
Full name(on th card) : <input type="text" placeholder="Your name" name="name"><br><br>
Card number : <input type="number" placeholder="Enter card number" name="card"><br>



<p style="color:blue;">card number is required and card number should contain 16 digits Expiration.</p><br><br>
Month : <input type="number" placeholder="MM"> &nbsp; Year:<input type="text" placeholder="YY"> &nbsp; CVV :<input type="number" placeholder="CVV"><br><br>

  <button type="button"><a href="/success"  style="color:red; text-decoration:none;">Confirm</a> </button>
    </div>

</center>

</body>
</html>